.container {
    margin: 25px;
}

body {
    overflow-y: scroll;
}

th {
    user-select: none;
}

th#winrate, th#mastery, th#metric {
    min-width: 110px;
}

th#img, th#won, th#played {
    min-width: 50px;
}

th#name {
    min-width: 150px;
}

td.number {
    text-align: right;
}

td.center {
    text-align: center;
}

tr:hover td {
    background-color: #2a3242!important;
}

.columns {
    display: grid;
    column-gap: 50px;
    row-gap: 25px;
}